* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* Navbar content starts here now */


.nav-container {
    height: 6rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Heading {
    padding: 15px 50px;
    color: #0a196f;
    font-size: 3rem;
    font-family: "poppins" sans-serif;
}

.search-box {
    height: 40px;
    width: 30rem;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.span-1 {
    padding-left: 10px;
    font-size: 20px;
}

.input {
    text-align: start;
    height: 38px;
    width: 25rem;
    border: none;
    outline: 0;
}

.span-2 {
    padding-right: 10px;
    font-size: 20px;
}

.icons-div {
    gap: 30px;
    margin-right: 50px;
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.icon_1 {
    font-size: 20px;
    color: #0a196f;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    height: 40px;
}

.icon_2 {
    font-size: 20px;
    color: #0a196f;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 40px;
    padding: 8px 9px;
    width: 40px;
}

.icon_3 {
    font-size: 20px;
    color: #0a196f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
}

/* Navbar content close here now */


/* Navbar media query starts here now */

@media (max-width: 990px) {
    .icons-div {
        display: none;
    }

    .search-box {
        height: 40px;
        width: 30rem;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }

    .span_1 {
        padding-left: 10px;
        font-size: 20px;
    }

    .input {
        text-align: start;
        height: 38px;
        width: 10rem;
        border: none;
        outline: 0;
    }

    .span_2 {
        padding-right: 10px;
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .icons-div {
        display: none;
    }

    .search-box {
        height: 40px;
        width: 20rem;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }

    .span_1 {
        padding-left: 10px;
        font-size: 20px;
    }

    .input {
        text-align: start;
        height: 38px;
        width: 10rem;
        border: none;
        outline: 0;
    }

    .span_2 {
        padding-right: 10px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .Heading {
        padding: 10px 30px;
        color: #0a196f;
        font-size: 2rem;
        font-family: "poppins" sans-serif;
    }

    .icons-div {
        display: none;
    }

    .search-box {
        height: 40px;
        width: 15rem;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }

    .span_1 {
        padding-left: 10px;
        font-size: 15px;
    }

    .input {
        text-align: start;
        height: 38px;
        width: 5rem;
        border: none;
        outline: 0;
        font-size: 6px;
    }

    .span_2 {
        padding-right: 10px;
        font-size: 15px;
    }
}

/* Two Cars Div's Work here we starting Now */

.main-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* This is the first container div work */

.First-container {
    width: 42%;
    height: 600px;
    background-color: #54a6ff;
    border-radius: 10px;
}

.heading_para {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 5px;
    padding: 30px 30px;
}

.para_one {
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 8px;
    padding: 2px 30px;
    line-height: 30px;
}

.btn {
    font-size: 15px;
    height: 50px;
    width: 8rem;
    border-radius: 5px;
    border: none;
    background-color: #345bdb;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 10%;
}

.car-img {
    width: 60%;
    height: 30%;
    margin-top: 10%;
    margin-left: 30%;
}

/* First div container work close here */

.Second-container {
    width: 42%;
    height: 600px;
    border-radius: 10px;
    background-color: #264bc8;
}

/* Now we are start second div container work */

.heading_para2 {
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 5px;
    padding: 30px 30px;
}

.para_two {
    font-size: 21px;
    color: #ffffff;
    letter-spacing: 9px;
    padding: 2px 30px;
    line-height: 30px;
}

.btn_2 {
    font-size: 15px;
    height: 50px;
    width: 8rem;
    border-radius: 5px;
    border: none;
    background-color: #85a8f8;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 10%;
}

.car_img_2 {
    width: 60%;
    height: 30%;
    margin-top: 10%;
    margin-left: 30%;
}

/* second div container work close here now  */


/* two div's container media query work starts here now  */

@media (max-width: 870px) {
    .Second-container {
        display: none;
    }

    .First-container {
        width: 80%;
        height: 600px;
        background-color: #54a6ff;
        border-radius: 10px;
    }

    .heading_para {
        font-size: 50px;
        color: #ffffff;
        letter-spacing: 5px;
        padding: 30px 30px;
    }

    .para_one {
        font-size: 22px;
        color: #ffffff;
        letter-spacing: 8px;
        padding: 2px 30px;
        line-height: 30px;
    }

    .btn {
        font-size: 15px;
        height: 50px;
        width: 8rem;
        border-radius: 5px;
        border: none;
        background-color: #345bdb;
        color: #ffffff;
        margin-top: 30px;
        margin-left: 10%;
    }

    .car-img {
        width: 60%;
        height: 30%;
        margin-top: 10%;
        margin-left: 30%;
    }
}


@media (max-width: 460px) {
    .First-container {
        width: 80%;
        height: 600px;
        background-color: #54a6ff;
        border-radius: 10px;
    }

    .heading_para {
        font-size: 30px;
        color: #ffffff;
        padding: 30px 30px;
    }

    .para_one {
        font-size: 16px;
        color: #ffffff;
        padding: 0 20px;
    }

    .btn {
        font-size: 15px;
        height: 50px;
        width: 8rem;
        border-radius: 5px;
        border: none;
        background-color: #345bdb;
        color: #ffffff;
        margin-top: 30px;
        margin-left: 10%;
    }

    .car-img {
        width: 60%;
        height: 30%;
        margin-top: 15%;
        margin-left: 30%;
    }

}

/* two div's container media query work starts here now  */


/*
       
          Now we are starting three div's containers which radio button, selected 
          menu bar's and arrows div 
        
    */

.parent_div {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.container_one {
    width: 40%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
}

.radio-box {
    margin-top: 20px;
}

.radio-btn {
    padding-left: 50px;
}

.pick-up {
    padding-left: 10px;
    font-size: 20px;
    font-family: "poppins" sans-serif;
    font-weight: bold;
}


.selector-container {
    margin-top: 30px;
    display: flex;
}

.first_div {
    height: 50px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.Second_div {
    height: 50px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.Third_div:nth-Last-child(1) {
    border: none;
}

.small-heading_1 {
    padding-left: 50px;
}

.small-heading_2 {
    padding-left: 30px;
}

.small-heading_3 {
    padding-left: 30px;
}


#select_1 {
    outline: 0;
    border: none;
    height: 20px;
    margin-top: 10px;
    margin-left: 42px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 150px;
}

#select_2 {
    outline: 0;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 25px;
}

#select_3 {
    outline: 0;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 25px;
}

.container_two {
    width: 60px;
    height: 60px;
    background-color: #264bc8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Up-arrow {
    color: #ffffff;
    font-size: 20px;
}

.down-arrow {
    color: #ffffff;
    font-size: 20px;
}

.container_three {
    width: 40%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
}

.radio_box {
    margin-top: 20px;
}

.radio_btn {
    padding-left: 50px;
}

.pick_up {
    padding-left: 10px;
    font-size: 20px;
    font-family: "poppins" sans-serif;
    font-weight: bold;
}

.selector_container {
    margin-top: 30px;
    display: flex;
}

.first-div {
    height: 50px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.small_heading_1 {
    padding-left: 50px;
}

#select-1 {
    outline: 0;
    border: none;
    height: 20px;
    margin-top: 10px;
    margin-left: 42px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    outline: 0;
    width: 150px;
}

.Second-div {
    height: 50px;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.small_heading_2 {
    padding-left: 30px;
}

#select-2 {
    outline: 0;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    outline: 0;
    margin-left: 25px;
}

.Third-div:nth-last-child(1) {
    border: none;
}

.small_heading_3 {
    padding-left: 30px;
}

#select-3 {
    outline: 0;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 25px;
}

/*
       
          Now we are closer here three div's containers which is radio button, selected 
          menu bar's and arrows div 
        
    */


/*
          Now we are start media query here three div's
          containers
          which is radio button, selected menu bar's and arrows div 
    
    */

@media (max-width: 1350px) {
    .parent_div {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
    }

    .container_one {
        width: 35%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio-box {
        margin-top: 20px;
    }

    .radio-btn {
        padding-left: 20px;
    }

    .pick-up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }


    .selector-container {
        margin-top: 30px;
        display: flex;
    }

    .first_div {
        height: 50px;
        width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Second_div {
        height: 50px;
        width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Third_div:nth-Last-child(1) {
        border: none;
    }

    .small-heading_1 {
        padding-left: 20px;
    }

    .small-heading_2 {
        padding-left: 20px;
    }

    .small-heading_3 {
        padding-left: 20px;
    }


    #select_1 {
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        width: 80px;
        outline: 0;
    }

    #select_2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
    }

    #select_3 {
        border: none;
        outline: 0;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
    }

    .container_two {
        width: 60px;
        height: 60px;
        background-color: #264bc8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .Up-arrow {
        color: #ffffff;
        font-size: 20px;
    }

    .down-arrow {
        color: #ffffff;
        font-size: 20px;
    }

    .container_three {
        width: 35%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio_box {
        margin-top: 20px;
    }

    .radio_btn {
        padding-left: 20px;
    }

    .pick_up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }

    .selector_container {
        margin-top: 30px;
        display: flex;
    }

    .first-div {
        height: 50px;
        width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_1 {
        padding-left: 20px;
    }

    #select-1 {
        outline: 0;
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 15px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        width: 80px;
    }

    .Second-div {
        height: 50px;
        width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_2 {
        padding-left: 15px;
    }

    #select-2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
    }

    .Third-div:nth-last-child(1) {
        border: none;
    }

    .small_heading_3 {
        padding-left: 15px;
    }

    #select-3 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
    }
}

@media (max-width: 1000px) {
    .parent_div {
        overflow: hidden;
        width: 100%;
        height: 400px;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        margin-top: 80px;
    }

    .container_one {
        width: 70%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio-box {
        margin-top: 20px;
    }

    .radio-btn {
        padding-left: 20px;
    }

    .pick-up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }


    .selector-container {
        margin-top: 30px;
        display: flex;
    }

    .first_div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Second_div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Third_div:nth-Last-child(1) {
        border: none;
    }

    .small-heading_1 {
        padding-left: 30px;
    }

    .small-heading_2 {
        padding-left: 30px;
    }

    .small-heading_3 {
        padding-left: 20px;
    }


    #select_1 {
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        outline: 0;
        width: 150px;
    }

    #select_2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
        width: 150px;
    }

    #select_3 {
        border: none;
        outline: 0;
        margin-top: 10px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.7);
        width: 150px;
    }

    .container_two {
        width: 60px;
        height: 60px;
        background-color: #264bc8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .Up-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .down-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .container_three {
        width: 70%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio_box {
        margin-top: 20px;
    }

    .radio_btn {
        padding-left: 30px;
    }

    .pick_up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }

    .selector_container {
        margin-top: 30px;
        display: flex;
    }

    .first-div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_1 {
        padding-left: 30px;
    }

    #select-1 {
        outline: 0;
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 27px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        width: 150px;
    }

    .Second-div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_2 {
        padding-left: 30px;
    }

    #select-2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 22px;
        width: 150px;
        color: rgba(0, 0, 0, 0.7);
    }

    .Third-div:nth-last-child(1) {
        border: none;
    }

    .small_heading_3 {
        padding-left: 15px;
    }

    #select-3 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 10px;
        width: 150px;
    }
}

@media (max-width: 800px) {
    .parent_div {
        overflow: hidden;
        width: 100%;
        height: 450px;
        gap: 40px;
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        margin-top: 80px;
    }

    .container_one {
        width: 95%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio-box {
        margin-top: 20px;
    }

    .radio-btn {
        padding-left: 20px;
    }

    .pick-up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }


    .selector-container {
        margin-top: 30px;
        display: flex;
    }

    .first_div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Second_div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Third_div:nth-Last-child(1) {
        border: none;
    }

    .small-heading_1 {
        padding-left: 30px;
    }

    .small-heading_2 {
        padding-left: 30px;
    }

    .small-heading_3 {
        padding-left: 20px;
    }


    #select_1 {
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        outline: 0;
        width: 150px;
    }

    #select_2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 10px;
        width: 150px;
    }

    #select_3 {
        border: none;
        outline: 0;
        margin-top: 10px;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.7);
        width: 150px;
    }

    .container_two {
        width: 60px;
        height: 60px;
        background-color: #264bc8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .Up-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .down-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .container_three {
        width: 95%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio_box {
        margin-top: 20px;
    }

    .radio_btn {
        padding-left: 30px;
    }

    .pick_up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }

    .selector_container {
        margin-top: 30px;
        display: flex;
    }

    .first-div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_1 {
        padding-left: 30px;
    }

    #select-1 {
        outline: 0;
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 27px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        width: 150px;
    }

    .Second-div {
        height: 50px;
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_2 {
        padding-left: 30px;
    }

    #select-2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 22px;
        width: 150px;
        color: rgba(0, 0, 0, 0.7);
    }

    .Third-div:nth-last-child(1) {
        border: none;
    }

    .small_heading_3 {
        padding-left: 15px;
    }

    #select-3 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 10px;
        width: 150px;
    }
}

@media (max-width: 600px) {
    .parent_div {
        overflow: hidden;
        width: 100%;
        height: 450px;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 80px;
    }

    .container_one {
        margin-top: 20px;
        width: 70%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .radio-box {
        margin-top: 20px;
    }

    .radio-btn {
        padding-left: 20px;
    }

    .pick-up {
        padding-left: 10px;
        font-size: 15px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }


    .selector-container {
        margin-top: 30px;
        display: flex;
    }

    .first_div {
        height: 50px;
        width: 100px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Second_div {
        height: 50px;
        width: 100px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Third_div:nth-Last-child(1) {
        border: none;
    }

    .small-heading_1 {
        padding-left: 10px;
    }

    .small-heading_2 {
        padding-left: 10px;
    }

    .small-heading_3 {
        padding-left: 10px;
    }


    #select_1 {
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        outline: 0;
        width: 80px;
    }

    #select_2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 8px;
        width: 80px;
    }

    #select_3 {
        border: none;
        outline: 0;
        margin-top: 10px;
        margin-left: 8px;
        color: rgba(0, 0, 0, 0.7);
        width: 100px;
    }

    .container_two {
        width: 70px;
        height: 70px;
        background-color: #264bc8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: -60px;

    }

    .Up-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .down-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .container_three {
        width: 70%;
        height: 150px;
        margin-top: -60px;
        background-color: #ffffff;
        border-radius: 15px;
        z-index: -1;
    }

    .radio_box {
        margin-top: 20px;
    }

    .radio_btn {
        padding-left: 20px;
    }

    .pick_up {
        padding-left: 10px;
        font-size: 20px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }

    .selector_container {
        margin-top: 30px;
        display: flex;
    }

    .first-div {
        height: 50px;
        width: 100px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_1 {
        padding-left: 20px;
    }

    #select-1 {
        outline: 0;
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 18px;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.7);
        width: 80px;
    }

    .Second-div {
        height: 50px;
        width: 100px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_2 {
        padding-left: 20px;
    }

    #select-2 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 20px;
        color: rgba(0, 0, 0, 0.7);
        width: 80px;
    }

    .Third-div:nth-last-child(1) {
        border: none;
    }

    .small_heading_3 {
        padding-left: 20px;
    }

    #select-3 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 10px;
        width: 80px;
    }
}

@media (max-width: 420px) {
    .parent_div {
        overflow: hidden;
        width: 100%;
        height: 500px;
        gap: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        /* align-items: center; */
        margin-top: 80px;
    }

    .container_one {
        width: 70%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
        margin-top: 20px;
    }

    .radio-box {
        margin-top: 20px;
    }

    .radio-btn {
        padding-left: 20px;
    }

    .pick-up {
        padding-left: 10px;
        font-size: 15px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }


    .selector-container {
        margin-top: 30px;
        display: flex;
    }

    .first_div {
        height: 50px;
        width: 80px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Second_div {
        height: 50px;
        width: 80px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .Third_div:nth-Last-child(1) {
        border: none;
    }

    .small-heading_1 {
        font-size: 15px;
        padding-left: 5px;
    }

    .small-heading_2 {
        font-size: 15px;
        padding-left: 5px;
    }

    .small-heading_3 {
        font-size: 15px;
        padding-left: 5px;
    }


    #select_1 {
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 2px;
        color: rgba(0, 0, 0, 0.7);
        outline: 0;
        width: 60px;
        font-size: 0.6rem;
    }

    #select_2 {
        outline: 0;
        border: none;
        margin-top: 12px;
        color: rgba(0, 0, 0, 0.7);
        margin-left: 2px;
        width: 60px;
        font-size: 0.6rem;
    }

    #select_3 {
        border: none;
        outline: 0;
        margin-top: 10px;
        margin-left: 2px;
        color: rgba(0, 0, 0, 0.7);
        width: 60px;
        font-size: 0.6rem;
    }

    .container_two {
        margin-top: -30px;
        width: 60px;
        height: 60px;
        background-color: #264bc8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .Up-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .down-arrow {
        color: #ffffff;
        font-size: 15px;
    }

    .container_three {
        width: 70%;
        height: 150px;
        background-color: #ffffff;
        border-radius: 15px;
        margin-top: -30px;
    }

    .radio_box {
        margin-top: 20px;
    }

    .radio_btn {
        padding-left: 20px;
    }

    .pick_up {
        padding-left: 10px;
        font-size: 15px;
        font-family: "poppins" sans-serif;
        font-weight: bold;
    }

    .selector_container {
        margin-top: 30px;
        display: flex;
    }

    .first-div {
        height: 50px;
        width: 80px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_1 {
        font-size: 15px;
        padding-left: 5px;
    }

    #select-1 {
        outline: 0;
        border: none;
        height: 20px;
        margin-top: 10px;
        margin-left: 2px;
        font-size: 0.6rem;
        color: rgba(0, 0, 0, 0.7);
        width: 60px;
    }

    .Second-div {
        height: 50px;
        width: 80px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .small_heading_2 {
        margin-top: 2px;
        font-size: 15px;
        padding-left: 5px;
    }

    #select-2 {
        font-size: 0.6rem;
        outline: 0;
        border: none;
        margin-top: 12px;
        margin-left: 2px;
        width: 60px;
        color: rgba(0, 0, 0, 0.7);
    }

    .Third-div:nth-last-child(1) {
        border: none;
    }

    .small_heading_3 {
        font-size: 15px;
        padding-left: 5px;
    }

    #select-3 {
        outline: 0;
        border: none;
        margin-top: 10px;
        margin-left: 2px;
        width: 60px;
        font-size: 0.6rem;
    }
}

         /* Short Heading */

/* .heading_div{
    margin-top: 30px;
    width: 100px;
    height: 50px;
} */

.car_heading{
    text-align: left;
    font-family: "popppins" sans-serif;
    font-size: 30px;
}
